.container{
    margin: 50px;
}
input{
    max-width: 259px;
    border-radius:6px;
    padding: 4px 5px;
    border: 1px solid gray;
}

#details_check_demarrage{
    display:none;
}

.ui-datepicker{ z-index: 9999 !important;}

#datepicker{
    width:66px;
}